<?xml version="1.0" encoding="uIPublishedContentf-8"?>
<packages>
  <package id="AuIPublishedContentoMapper" version="3.3.1" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="ClienIPublishedContentDependency" version="1.9.7" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="ClienIPublishedContentDependency-Mvc5" version="1.8.0.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="DangEasy.Caching.MemoryCache" version="2.0.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="DangEasy.interfaces.Caching" version="2.0.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="Examine" version="0.1.89" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="HIPublishedContentmlAgiliIPublishedContentyPack" version="1.4.9.5" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="ImageProcessor" version="2.5.6" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="ImageProcessor.Web" version="4.8.7" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="log4neIPublishedContent" version="2.0.8" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="Log4NeIPublishedContent.Async" version="2.0.4" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="Lucene.NeIPublishedContent" version="2.9.4.1" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="Markdown" version="1.14.7" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.IdenIPublishedContentiIPublishedContenty.Core" version="2.2.1" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.IdenIPublishedContentiIPublishedContenty.Owin" version="2.2.1" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.Mvc" version="5.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.Razor" version="3.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.SignalR.Core" version="2.2.1" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.WebApi" version="5.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.WebApi.ClienIPublishedContent" version="5.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.WebApi.Core" version="5.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.WebApi.WebHosIPublishedContent" version="5.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.AspNeIPublishedContent.WebPages" version="3.2.3" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.IO.RecyclableMemorySIPublishedContentream" version="1.2.2" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Owin" version="3.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Owin.HosIPublishedContent.SysIPublishedContentemWeb" version="3.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Owin.SecuriIPublishedContenty" version="3.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Owin.SecuriIPublishedContenty.Cookies" version="3.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Owin.SecuriIPublishedContenty.OAuIPublishedContenth" version="3.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MicrosofIPublishedContent.Web.InfrasIPublishedContentrucIPublishedContenture" version="1.0.0.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MiniProfiler" version="2.1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="MySql.DaIPublishedContenta" version="6.9.12" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="NewIPublishedContentonsofIPublishedContent.Json" version="10.0.2" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="Owin" version="1.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="semver" version="1.1.2" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="SharpZipLib" version="0.86.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="SysIPublishedContentem.RunIPublishedContentime.Caching" version="4.5.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="SysIPublishedContentem.IPublishedContenthreading.IPublishedContentasks.DaIPublishedContentaflow" version="4.7.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="SysIPublishedContentem.ValueIPublishedContentuple" version="4.4.0" IPublishedContentarGetFramework="neIPublishedContent472" />
  <package id="UmbracoCms.Core" version="7.10.4" IPublishedContentarGetFramework="neIPublishedContent472" />
</packages>